// h1 .project-heading {
//   font-size: 53px;
//   font-family: 'Coolvetica';
//   color: #ffd700;
//   position: relative;
//   left: 0px;
// }
.projects-page {
  width: 100%;
  height: 100%;
  border: 6px solid olive;
  .project-heading {
    position: relative;
    padding: 10px;
    color: rgb(67, 122, 149);
  }

  .projects-carousel {
    position: absolute;

    width: 100%;
    height: 100%;
    border: 3px solid olive;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .projects-carousel2 {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    border: 3px solid olive;
    display: none;
    flex-direction: row;
  }
}

@media only screen and (min-width: 300px) and (max-width: 2400) {
  .projects-page {
    width: 100vw;
    height: 100vh;
    border: 6px solid olive;
    .project-heading {
      position: relative;
      padding: 10px;
      color: rgb(67, 122, 149);
    }

    .projects-carousel {
      position: absolute;
      top: 5%;
      width: 100%;
      height: 100%;
      border: 3px solid olive;
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
    .projects-carousel2 {
      position: absolute;
      top: 5%;
      width: 100%;
      height: 100%;
      border: 3px solid olive;
      display: none;
      flex-direction: row;
    }
  }

  .projects-carousel {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    border: 3px solid olive;
    display: inline-flex;
    align-items: flex-end;
  }
  .projects-carousel2 {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    border: 3px solid olive;
    display: flex;
    flex-direction: row;
  }
}
