.blobs-projects {
  align-self: center;
  position: absolute;
  top: 0%;
  left: 23%;
  z-index: -99;
}

.carousel {
  width: 100%;
  top: 10%;
  left: 0px;
  position: relative;
  animation: fadeIn 1.5s 1.8s forwards;
  z-index: 0;

  .carousel-title {
    text-align: center;
  }

  .gallery {
    padding: 0;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    position: relative;
    transform-style: preserve-3d;
    animation: gallery 75s linear infinite;
  }
  .gallery span video {
    padding: 0;
    margin: 0 auto;
    &:hover {
      transition: all 1s;
      transform: scale(3);
      opacity: 1;
    }
  }
  .gallery:hover video {
    opacity: 0.2;
  }

  .gallery span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.137));
    transition: all 1s;
    &:hover {
      transition: all 1s;
      transform: scale(2);
      opacity: 1;
    }
  }
  .gallery span p {
    align-items: center;
    color: black;
    line-height: 150%;
    border: 1px solid grey;
    font-size: 14px;

    width: 100%;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.137));
    transition: all 1s;
    &:hover {
      transition: all 1s;
      transform: scale(1.5);
      opacity: 1;
    }
  }

  .gallery:hover {
    animation-play-state: paused;
  }

  .gallery:hover svg {
    opacity: 0.2;
  }

  .gallery span {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(700px);
    transition: all 1s;
  }

  .gallery span svg {
    height: 100%;
    width: 100%;

    object-fit: cover;
    -webkit-box-reflect: below 1px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.137));
    transition: all 1s;
    &:hover {
      cursor: pointer;
      transition: all 1s;
      transform: scale(1.5);
      opacity: 1;
    }
  }

  .gallery span a {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:hover {
      cursor: pointer;
      transition: all 1s;
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes gallery {
    0% {
      transform: perspective(1200px) rotateY(0deg);
    }
    50% {
      transform: perspective(1200px) rotateY(-180deg);
    }
    100% {
      transform: perspective(1200px) rotateY(-360deg);
    }
  }
}

@media only screen and (max-width: 1500px) {
  .carousel {
    .gallery {
      height: 150px;
      width: 150px;
    }

    .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
    }

    @keyframes gallery {
      0% {
        transform: perspective(900px) rotateY(0deg);
      }
      50% {
        transform: perspective(900px) rotateY(-180deg);
      }
      100% {
        transform: perspective(900px) rotateY(-360deg);
      }
    }
  }
  .blobs-projects {
    left: 0%;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel {
    transform: translateY(-50px);

    .gallery {
      height: 150px;
      width: 150px;
    }

    .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    }

    @keyframes gallery {
      0% {
        transform: perspective(1000px) rotateY(0deg);
      }
      50% {
        transform: perspective(1000px) rotateY(-180deg);
      }
      100% {
        transform: perspective(1000px) rotateY(-360deg);
      }
    }
  }
  .blobs-projects {
    left: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .carousel {
    .gallery {
      padding: 0;
      margin: 0 auto;
      height: 100px;
      width: 100px;
    }

    .gallery span p {
      line-height: 100%;
      border: 1px solid grey;
      font-size: 14px;

      width: 100%;
      -webkit-box-reflect: below 2px
        linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.137));
      transition: all 1s;
      &:hover {
        transition: all 1s;
        transform: scale(1.5);
        opacity: 1;
      }
    }

    .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
    }

    @keyframes gallery {
      0% {
        transform: perspective(850px) rotateY(0deg);
      }
      50% {
        transform: perspective(850px) rotateY(-180deg);
      }
      100% {
        transform: perspective(850px) rotateY(-360deg);
      }
    }
  }
  .blobs-projects {
    left: 25%;
  }
}
@media only screen and (max-width: 425px) {
  .carousel {
    .gallery {
      height: 100px;
      width: 100px;
    }

    .gallery span p {
      line-height: 100%;
    }

    .gallery span {
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(175px);
    }

    @keyframes gallery {
      0% {
        transform: perspective(450px) rotateY(0deg);
      }
      50% {
        transform: perspective(450px) rotateY(-180deg);
      }
      100% {
        transform: perspective(450px) rotateY(-360deg);
      }
    }
  }
  .blobs-projects {
    left: 0%;
  }
}
