@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=IBM+Plex+Mono&family=PT+Serif:wght@700&family=Permanent+Marker&family=Yeseva+One&display=swap");

section {
  display: flex;
  height: 100vh;

  justify-content: center;
  margin-top: 240px;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  display: inline;
  font-family: "Roboto", monospace;
}

.word {
  text-decoration: none;
  display: inline;
  color: black;
  font-family: "Yeseva One", cursive;
  position: relative;
}

.word::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: #fcb900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

// .word:hover::after {
//   transform: scaleX(1);
// }

.word:hover {
  color: rgb(40, 29, 29);

  transition: text-shadow 0.5s ease-in-out;
  text-shadow: 0 0 10px #fff, 0 0 20px #fcb900, 0 0 40px #fcb900;
}

.languages {
  font-family: "Yeseva One", cursive;
  width: 70px;
  height: 70px;
  border-radius: 0px;
  color: rgb(40, 29, 29);
  background-color: #fcb900;
  opacity: 1;
}

.languages {
  animation: fade-in-out 10s ease-in-out infinite;
}
.rolodex-inner {
  transform-style: preserve-3d;
  transition: transform 1s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.85;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
.fix {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(40, 29, 29);
}
.typewriter {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // background-color: #a0d052;
  background-color: #ffd900;
  color: rgb(40, 29, 29);
}

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  // top: 40%;
  z-index: -1;
}
