.skills-gallery {
  height: 150px;
  width: 100%;
  display: flex;
  margin: 32px;
}
.skills-gallery span {
  height: 100%;
  width: 100%;
  position: relative;
}
.skills-gallery svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-box-reflect: below 0.5px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.137));
}

.skill-logos {
  animation: rotation3d 20s infinite linear;
  transform-style: preserve-3d;
}

.blobs-skills {
  display: flex;
  position: absolute;
  top: 0%;
  z-index: -99;
}
.text-style {
  color: #edb273;
  font-family: Quicksand, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  padding-top: 75px;
  padding-bottom: 35px;
}
@keyframes rotation3d {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) translateZ(0px);
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .skills-gallery {
    margin: 0;
  }
  .blobs-skills {
    top: 1%;
  }
}
