@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=IBM+Plex+Mono&family=PT+Serif:wght@700&family=Permanent+Marker&family=Yeseva+One&family=Montserrat:wght@300&family=Inclusive+Sans&family=Montserrat:wght@300&display=swap');

.text-block {
  position: fixed;
  left: 10%;
  top: 35%;
  width: 40%;
  max-height: 90%;
  transform: translateY(50%);
}
h1 {
  font-size: 50px;
  line-height: 61px;
  margin: 0;
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  color: rgb(40, 29, 29);

  a {
    text-decoration: none;
    color: #ffffff;
  }

  .languages {
    border-radius: 0px;
    color: #ffffff;
    background-color: #c1b59f;
    opacity: 1;
    letter-spacing: 5px;
    animation: fade-in-out 5s linear infinite;
    transform-style: preserve-3d;
    transition: transform 1s;

    @keyframes fade-in-out {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0.85;
      }
      40% {
        opacity: 0.85;
      }
      55% {
        opacity: 1;
      }
      75% {
        opacity: 0.85;
      }
      100% {
        opacity: 0;
      }
    }
  }
  .name {
    text-decoration: none;
    display: inline;
    font-family: 'Yeseva One', cursive;
    color: #ffffff;

    &:hover {
      color: #ffffff;

      transition: text-shadow 0.5s ease-in-out;
      text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #6a5c5c;
    }
  }
}

.type-animation {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  .typewriter-start {
    color: #736c5f;
    font-family: 'Open Sans', sans-serif;
  }
  .typewriter {
    background-color: #f2f0e9;
    color: #736c5f;
    font-weight: 600;
    font-style: oblique;
  }
}

.home-tags {
  display: flex;
  justify-content: space-between;
}
.about-btn {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: Quicksand, sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px;
  margin-top: 25px;
  float: left;
  background-color: #cdc3b2;
  // background-color: #9a907f;
  white-space: nowrap;
  &:hover {
    background-color: #877e6f;
    color: white;
    border: none;
  }
}
.projects-btn {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: Quicksand, sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px;
  margin-top: 25px;
  float: left;
  background-color: #ada28f;
  white-space: nowrap;
  &:hover {
    background-color: #877e6f;
    color: white;
    border: none;
  }
}
.contact-btn {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: Quicksand, sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px;
  margin-top: 25px;
  float: left;
  background-color: #877e6f;
  white-space: nowrap;
  &:hover {
    background-color: #605a4f;
    color: white;
    border: none;
  }
}

canvas {
  position: absolute;
  left: -40%;
  top: 50%;
  animation: fadeIn 1s forwards;
  transform: translateY(-50%);
  touch-action: auto;
  z-index: -1;
  &:nth-child(2) {
    left: -10%;
  }
  &:nth-child(3) {
    left: 10%;
  }
  &:nth-child(4) {
    left: 40%;
  }
  &:nth-child(5) {
    left: 70%;
  }
  &:nth-child(6) {
    left: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .home-tags {
    display: grid;
    justify-items: start;
  }
  h1 {
    font-size: 35px;
    width: 100;
    line-height: 45px;
    font-weight: 400;
    color: rgb(40, 29, 29);
  }
  .text-block {
    position: fixed;
    left: 10%;
    top: 62%;
    width: 50%;
    max-height: 90%;
    transform: translateY(-50%);
  }

  canvas {
    position: absolute;
    left: -40%;
    top: 50%;
    &:nth-child(2) {
      left: -10%;
    }
    &:nth-child(3) {
      left: 10%;
    }
    &:nth-child(4) {
      left: 40%;
    }
    &:nth-child(5) {
      left: 70%;
    }
    &:nth-child(6) {
      left: 100%;
    }
  }
}
