@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=IBM+Plex+Mono&family=PT+Serif:wght@700&family=Permanent+Marker&family=Yeseva+One&display=swap');

.text-block {
  position: fixed;
  left: 10%;
  top: 35%;
  width: 40%;
  max-height: 90%;
  transform: translateY(50%);
}
h1 {
  font-size: 50px;
  line-height: 61px;
  margin: 0;
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  color: rgb(40, 29, 29);

  a {
    text-decoration: none;
    color: rgb(40, 29, 29);
  }

  .languages {
    border-radius: 0px;
    color: rgb(40, 29, 29);
    background-color: #fdcd37;
    opacity: 1;
    animation: fade-in-out 10s ease-in-out infinite;
    transform-style: preserve-3d;
    transition: transform 1s;

    @keyframes fade-in-out {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.85;
      }
      50% {
        opacity: 0.85;
      }
      65% {
        opacity: 1;
      }
      85% {
        opacity: 0.85;
      }
      100% {
        opacity: 0;
      }
    }
  }
  .name {
    text-decoration: none;
    display: inline;
    color: black;

    &:hover {
      color: rgb(40, 29, 29);

      transition: text-shadow 0.5s ease-in-out;
      text-shadow: 0 0 10px #fff, 0 0 20px #fcb900, 0 0 40px #fcb900;
    }
  }
}

.type-animation {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  .typewriter-start {
    color: #7d718b;
  }
  .typewriter {
    background-color: #ece8d6;
    color: #7d718b;
    font-weight: 600;
    font-style: oblique;
  }
}

.home-btn {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px;
  margin-top: 25px;
  float: left;
  background-color: #bebec4;
  white-space: nowrap;
  &:hover {
    background-color: #7d718b;
    color: white;
    border: none;
  }
}

canvas {
  position: absolute;
  left: -40%;
  top: 50%;
  animation: fadeIn 2s forwards;
  transform: translateY(-50%);
  touch-action: auto;
  z-index: -1;
  &:nth-child(2) {
    left: -10%;
  }
  &:nth-child(3) {
    left: 10%;
  }
  &:nth-child(4) {
    left: 40%;
  }
  &:nth-child(5) {
    left: 70%;
  }
  &:nth-child(6) {
    left: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  h1 {
    font-size: 35px;
    width: 100;
    line-height: 45px;
    font-weight: 400;
    color: rgb(40, 29, 29);
  }
  .text-block {
    position: fixed;
    left: 10%;
    top: 62%;
    width: 50%;
    max-height: 90%;
    transform: translateY(-50%);
  }

  canvas {
    position: absolute;
    left: -40%;
    top: 50%;
    &:nth-child(2) {
      left: -10%;
    }
    &:nth-child(3) {
      left: 10%;
    }
    &:nth-child(4) {
      left: 40%;
    }
    &:nth-child(5) {
      left: 70%;
    }
    &:nth-child(6) {
      left: 100%;
    }
  }
}
