.form {
  position: absolute;
}
.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 1;
  top: 1%;
  margin: 0 auto;
  z-index: 1;
}

.contact-title {
  width: 50%;
  display: flex;
  position: relative;
}
.text {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}

.contact-form {
  margin-left: 13px;
}

.contact-form ul {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 1;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    clear: both;
  }

  li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;

    &:first-child {
      margin-left: 0;
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background-color: #b99094;
    color: #ffffff;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
  }

  input::placeholder {
    color: #ffffff;

    &:focus::placeholder {
      color: transparent;
      border: none;
    }
  }
  textarea {
    width: 100%;
    border: 0;
    background-color: #b99094;
    color: #ffffff;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    min-height: 150px;
    box-sizing: border-box;
    outline: none;
  }
  textarea::placeholder {
    color: #ffffff;
    &:focus::placeholder {
      color: transparent;
    }
  }

  .submit-btn {
    color: #4b3832;
    background: 0;
    font: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #efeff2;
    border-radius: 4px;
    white-space: nowrap;
    float: right;
    &:hover {
      background-color: #efeff2;
      color: black;
      cursor: pointer;
    }
  }
}

.info {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
  background-color: #9c6167;
  color: #f5ecec;
  font-weight: 300;
  top: 10px;
  right: 10px;
  z-index: 999;
  width: 267px;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;

  opacity: 1;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
}

.email-link {
  font-size: 13px;
  text-decoration: none;
  display: block;
  padding-top: 20px;
  color: #ffffff;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
  &:hover {
    color: #f5ecec;
  }
}

.map {
  float: right;
  width: 53%;
  height: 115%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  opacity: 1;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
  .marker {
    color: #4b3832;
  }
}

.blobs-contact {
  align-self: center;
  position: absolute;
  // left: 30%;
  top: 2%;
  z-index: -99;
}
@media screen and (min-width: 551px) and (max-width: 1024px) {
  .form {
    position: absolute;
  }
  .container {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    position: relative;
    top: 0;
    overflow: hidden;
  }
  .contact-title {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .contact-form {
    margin-left: 13px;
    position: absolute;
    top: 325px;
  }

  .text {
    width: 80%;
  }
  .contact-form {
    width: 100%;
  }

  .map {
    float: none;
    width: 80%;
    margin-left: 10%;
    height: 300px;
    clear: both;
  }

  .info {
    top: auto;
    right: 5%;
    bottom: 50px;
  }
  .blobs-contact {
    position: absolute;
    top: -15%;
    left: 7%;
    z-index: -1;
  }
}
@media only screen and (min-width: 300px) and (max-width: 550px) {
  .container {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    position: relative;
    top: 0;
    overflow: hidden;
  }
  .contact-title {
    display: flex;
    align-items: center;
    left: 25%;
  }
  .contact-form {
    margin-bottom: 4%;
    margin-left: 13px;
    position: absolute;
    top: 325px;
  }

  .text {
    width: 80%;
  }
  .contact-form {
    width: 100%;
  }

  .map {
    float: none;
    width: 80%;
    margin-left: 10%;
    height: 300px;
    clear: both;
  }

  .info {
    text-align: center;
    margin-left: 10%;
    width: 70.5%;
    position: static;
    clear: both;
  }
  .blobs-contact {
    position: absolute;
    top: 1%;
  }
}
