@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&display=swap");

.contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fcb900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}
.contact:hover::after {
  transform: scaleX(1);
}
.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fcb900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}
.about:hover::after {
  transform: scaleX(1);
}

.projects::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fcb900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}
.projects:hover::after {
  transform: scaleX(1);
}

.name {
  color: black;
  font-family: "Gruppo", cursive;
  font-weight: bold;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 70px;
  height: 70px;
  border-radius: 0px;
  background-color: #fcb900;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  position: relative;
}

ul li {
  margin-right: 15px;
  font-size: 28px;
  text-decoration: none;
  list-style: none;
  color: black;
  position: relative;
}

ul li::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #fcb900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}

ul li:hover::after {
  width: 100%;
  transform: scaleX(1);
}

ul li:hover {
  color: #000000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fcb900, 0 0 40px #fcb900;
}

// ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 100%;
// }
