@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=IBM+Plex+Mono&family=PT+Serif:wght@700&family=Permanent+Marker&family=Yeseva+One&display=swap");

h1 {
  color: white;
  display: inline;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;

  font-family: "Roboto", monospace;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Yeseva One", cursive;
}

.languages {
  font-family: "Yeseva One", cursive;
  width: 70px;
  height: 70px;
  border-radius: 0px;
  color: rgb(40, 29, 29);
  background-color: #fcb900;
}

a:hover {
  color: #000000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fcb900, 0 0 40px #fcb900;
}

.rolodex-inner {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.languages {
  opacity: 1;
  animation: fade-in-out 10s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.85;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
