.about {
  padding: 1rem;

  color: white;
  position: fixed;
  top: 0%;
  right: 0%;
  text-decoration: none;
  display: flex;
  font-size: 28px;
}
.projects {
  padding: 1rem;
  color: white;
  position: fixed;
  text-decoration: none;
  top: 0%;
  left: 0%;
  font-size: 28px;
}
.name {
  color: black;
  position: fixed;
  top: 0%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 0px;
  background-color: #c0a062;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
}
