.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #a6a9b3;
  transform-origin: 0%;
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .progress-bar {
    height: 5px;
  }
}
