html {
  font-size: 60%;
}

body {
  min-height: 100%;
  font: 300 12px/1.4 'Roboto', 'monospace';
  color: #444;
  background: white;
  display: block;
  overflow: hidden;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
