html,
body {
  /* background-color: #161616; */
  background-color: white;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background: #333333; */

  margin: 0;
  font-family: "Major Mono Display", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * {
  z-index: -1000;
} */

/* .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: -1;
} */
