@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Cormorant+Garamond:wght@300;400;500;700&family=Yeseva+One&display=swap');

html {
  font-size: 60%;
}

h1,
h2,
h3 {
  font-family: 'Yeseva One', cursive;
  color: #fdcd37;
}

body {
  min-height: 100%;
  font: 300 12px/1.4 'Roboto', 'monospace';
  color: #444;
  background: white;
  display: block;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
